Verification - Are we building the product correctly?
Validation - Are we building the correct product?

## Verification
Evaluation of work products during a work phase
To determine if the product is built according to reqs and specs

- **Evaluate:** Plans, Requirement Specs, design specs, Code, Test cases
- **Using:** Tests, tests, tests, but also reviews and walk throughs
## Validation
Evaluating a software product during or at the end of development to see if it meets BR (business requirements)
 - Does it match the user's needs?
 - Does it fulfil it's intended use?
 Early validation
 - **Evaluates**: Specifications
 - **Using**: Reviews, scenarios, questionnaires, MVP with user feedback...
 Final/work product validation
 - **Evaluates**: software product/version
 - **Using**: Testing (e.g ACs)
## V-Model
